
log_format nginx '\$remote_addr - \$remote_user [\$time_local] '
'"\$request" \$status \$body_bytes_sent \$request_time '
'"\$http_referer" "\$http_user_agent"';

access_log /var/log/nginx/access.log;

proxy_cache_path /var/cache/nginx/proxy_cache levels=1:2 keys_zone=wm_cache:10m max_size=1g;
proxy_cache_valid 5m;

server {
  listen 8080;
  access_log off;

  location = /status {
    stub_status;
    server_tokens on;
  }

  location = /foundry_metrics {
    proxy_pass http://foundry:30000/metrics;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }
}

server {
  listen 80;
  listen [::]:80;

  server_name "{{ base_fqdn }}";
  return 301 https://$server_name$request_uri;
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;

  server_name "{{ base_fqdn }}";

  index index.php;
  autoindex off;

  root "{{ westmarches_data_path }}/www/public";

  ssl_certificate "/etc/letsencrypt/live/{{ base_fqdn }}/fullchain.pem";
  ssl_certificate_key "/etc/letsencrypt/live/{{ base_fqdn }}/privkey.pem";
  ssl_trusted_certificate "/etc/letsencrypt/live/{{ base_fqdn }}/chain.pem";

  location /monitoring {
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    proxy_pass http://grafana:3000;
  }

  location /5etools {
    add_header Access-Control-Allow-Origin "$http_origin";
    add_header Access-Control-Allow-Methods "OPTIONS, HEAD, GET";

    root /opt/data;
  }

  location /.well-known {
    root /usr/share/nginx/html;
  }

  location / {
    try_files $uri /index.php$is_args$args;
  }

  location ~ \.php {
    try_files $uri = 404;
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    include        fastcgi_params;
    fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
    fastcgi_param SCRIPT_NAME $fastcgi_script_name;
    fastcgi_index  index.php;
    fastcgi_pass   website:9000;
  }
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;

  server_name "{{ api_fqdn }}";

  ssl_certificate "/etc/letsencrypt/live/{{ base_fqdn }}/fullchain.pem";
  ssl_certificate_key "/etc/letsencrypt/live/{{ base_fqdn }}/privkey.pem";
  ssl_trusted_certificate "/etc/letsencrypt/live/{{ base_fqdn }}/chain.pem";

  location /.well-known {
    root /usr/share/nginx/html;
  }

  location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;
    proxy_hide_header Access-Control-Allow-Origin;
    add_header Access-Control-Allow-Credentials "true";
    add_header Access-Control-Allow-Origin "$http_origin";

    proxy_pass http://api:3000;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }

}

server {
  listen 80;
  listen [::]:80;

  server_name "{{ foundry_fqdn }}";
  return 301 https://$server_name$request_uri;
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;

  server_name "{{ foundry_fqdn }}";

  root /usr/share/nginx/html;

  ssl_certificate "/etc/letsencrypt/live/{{ base_fqdn }}/fullchain.pem";
  ssl_certificate_key "/etc/letsencrypt/live/{{ base_fqdn }}/privkey.pem";
  ssl_trusted_certificate "/etc/letsencrypt/live/{{ base_fqdn }}/chain.pem";

  location /.well-known {}

  location /metrics {
    return 404;
  }

  location /api {
    return 404;
  }

  location / {
    proxy_pass http://foundry:30000;

    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";
    proxy_http_version 1.1;

#    proxy_ignore_headers Cache-Control;
#    proxy_hide_header Cache-Control;
#    proxy_cache wm_cache;
#
#    add_header Cache-Control "public";
#    add_header X-Cache-Status $upstream_cache_status;
#
#    expires 1d;
#
#    if ($request_uri ~ /(game|join)) {
#      expires off;
#    }
  }
}

server {
  listen 80;
  listen [::]:80;

  server_name "{{ playtest_fqdn }}";
  return 301 https://$server_name$request_uri;
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;

  server_name "{{ playtest_fqdn }}";

  root /usr/share/nginx/html;

  ssl_certificate "/etc/letsencrypt/live/{{ base_fqdn }}/fullchain.pem";
  ssl_certificate_key "/etc/letsencrypt/live/{{ base_fqdn }}/privkey.pem";
  ssl_trusted_certificate "/etc/letsencrypt/live/{{ base_fqdn }}/chain.pem";

  location /.well-known {}

  location /metrics {
    return 404;
  }

  location /api {
    return 404;
  }

  location / {
    proxy_pass "http://{{ playtest_ip }}:30000";

    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";
    proxy_http_version 1.1;
  }
}
