server {
  listen 443 ssl;
  server_name "{{ foundry_hostname }}";
  client_max_body_size 300M;
  root /usr/share/nginx/html;

  ssl_certificate "/etc/letsencrypt/live/{{ foundry_hostname }}/fullchain.pem";
  ssl_certificate_key "/etc/letsencrypt/live/{{ foundry_hostname }}/privkey.pem";

  location /.well-known {}

  location /monitoring {
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    proxy_pass http://grafana:3000;
  }

  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    # These are important to support WebSockets
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";

    # Make sure to set your Foundry VTT port number
    proxy_pass http://foundry:30000;
  }
}

server {
  listen 80;
  listen [::]:80;

  server_name "{{ foundry_hostname }}";
  return 301 https://$host$request_uri;
}
