# {{ ansible_managed }}
[Unit]
Description=Global WestMarches service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker compose {% for f in compose_files %} -f {{ f }} {% endfor %} kill
ExecStartPre=-/usr/bin/docker compose {% for f in compose_files %} -f {{ f }} {% endfor %} rm
ExecStart=/usr/bin/docker compose {% for f in compose_files %} -f {{ f }} {% endfor %} up
ExecStop=/usr/bin/docker compose {% for f in compose_files %} -f {{ f }} {% endfor %} down
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
