<div class="flexcol">
    <header>
        <h1>
            <span>Mes Sessions</span>
        </h1>
    </header>
    <section>
<!--        <form class="filter">-->
<!--            <div class="form-group">-->
<!--                <label>Titre</label>-->
<!--                <div class="form-fields">-->
<!--                    <input type="text" name="filter" value="" />-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
        <ul style="height: 300px; overflow: auto" id="session_list">
            <li>Chargement en cours...</li>
        </ul>
        <form class="controls">
            <button type="button" id="session_new" name="new"><i class="fas fa-feather-alt"></i>Nouvelle Session</button>
        </form>
    </section>
</div>
