<p>In order to correctly sync your character sheet, journal and
    fetch information from our Kanka campaign, please log in:</p>
<div>
    <button id="kanka-login">
        <img src="modules/wm-foundry-module/images/kanka.png" style="border: 0; width: auto; height: 1em; vertical-align: middle;"/>
        Login with Kanka
    </button>
</div>