version: "3.8"

services:
  influxdb:
    image: influxdb:2.0.7
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=p@ssw0rd
      - DOCKER_INFLUXDB_INIT_ORG=westmarchesdelacave
      - DOCKER_INFLUXDB_INIT_BUCKET=bucket0
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=t0ken
  grafana:
    image: grafana/grafana:main
    volumes:
      - ./wm-infra/modules/main/ansible/roles/westmarches/templates/grafana-dashboards.tpl.yml:/etc/grafana/provisioning/dashboards/dashboards.yaml:ro
      - ./wm-infra/deploy/local/grafana-datasources.yml:/etc/grafana/provisioning/datasources/datasources.yaml:ro
      - ./wm-infra/modules/main/ansible/roles/westmarches/files/grafana-dashboards:/var/lib/grafana/dashboards:ro
    links:
      - influxdb
    ports:
      - "3000:3000"
  telegraf:
    image: telegraf:1.18.3
    volumes:
      - ./wm-infra/deploy/local/telegraf.toml:/etc/telegraf/telegraf.conf:ro
      - foundry-logs:/logs/foundry
    links:
      - influxdb
  proxy:
    image: nginx:1.21.0
    volumes:
      - ./:/opt/project:ro
      - ./wm-infra/deploy/local/custom.tpl.nginx:/etc/nginx/conf.d/custom.conf:ro
      - ./wm-infra/deploy/local/rootCA.pem:/etc/ssl/private/rootCA.pem:ro
      - ./wm-infra/deploy/local/rootCA-key.pem:/etc/ssl/private/rootCA-key.pem:ro
      - ./wm-infra/deploy/local/westmarches.localhost.lan+1.pem:/etc/ssl/private/westmarches.localhost.lan+1.pem:ro
      - ./wm-infra/deploy/local/westmarches.localhost.lan+1-key.pem:/etc/ssl/private/westmarches.localhost.lan+1-key.pem:ro
    links:
      - foundry
      - api
      - website
    ports:
      - "8000:80"
      - "8443:443"
  website:
    build:
      context: wm-website
      dockerfile: dev.Dockerfile
    volumes:
      - ./:/opt/project:ro
      - ./wm-website:/var/www/html:ro
      - ./wm-infra/deploy/local/php.ini:/usr/local/etc/php/conf.d/zzz-custom.ini:ro
      - twig-cache:/var/cache/website
    environment:
      - DISCORD_OAUTH_CLIENT=${OAUTH_CLIENT}
      - DISCORD_OAUTH_SECRET=${OAUTH_SECRET}
      - DISCORD_OAUTH_REDIRECT=${WEBSITE_DISCORD_OAUTH_REDIRECT}
      - KANKA_OAUTH_REDIRECT=${WEBSITE_KANKA_OAUTH_REDIRECT}
  minio:
    image: minio/minio:latest
    environment:
      - MINIO_ROOT_USER=BUH8JVS2CJYK8HH22UI6-XIP
      - MINIO_ROOT_PASSWORD=tchtIVtvwW2EICkqzD4wh_KzdRcxVrJ9VmzB8NizmDTKH1Ra
    command: server /data
  foundry:
    build:
      context: wm-infra/docker/foundry
    environment:
      - FOUNDRY_WORLD=west-marches-de-la-cave
      - FOUNDRY_AWS_CONFIG=/data/Config/s3config.json
      - CONTAINER_PRESERVE_OWNER=/data/Data/modules/wm-foundry-module
      - FOUNDRY_ADMIN_KEY=atropos
    volumes:
#      - /home/pgmillon/workspace/ishtanzar/foundryvtt-0.7.10/resources/app:/home/foundry/resources/app
      - /home/pgmillon/workspace/ishtanzar/foundryvtt-0.8.9/resources/app:/home/foundry/resources/app
  #      - /home/pgmillon/workspace/ishtanzar/foundryvtt-9.269/resources/app:/home/foundry/resources/app
      - ./wm-infra/deploy/local/data/foundry/Data:/data/Data
      - ./wm-infra/deploy/local/data/foundry/Config:/data/Config
      - foundry-logs:/data/Logs
      - ./foundry-extensible-plugin:/home/foundry/resources/foundry-extensible-plugin:ro
#      - ./wm-foundry-module:/data/Data/modules/wm-foundry-module:ro
    command: ["/usr/local/bin/pm2-runtime", "/home/foundry/resources/foundry-extensible-plugin/pm2.config.js"]
    ports:
      - "30000:30000"
      - "9229:9229"
  management_api:
    build:
      context: wm-management-api/
      dockerfile: dev.Dockerfile
    volumes:
      - ./:/opt/project
      - /var/run/docker.sock:/var/run/docker.sock
    command: ["/usr/local/bin/pm2-runtime", "/opt/project/wm-management-api/pm2.config.js"]
    ports:
      - "5000:5000"
#      - "5678:5678" # VScode
    environment:
      - COMPOSE_DIR=/opt/project
      - HTPASSWD_PATH=/opt/project/wm-management-api/test/resources/.htpasswd
      - FOUNDRY_DATA_PATH=/opt/project/wm-infra/deploy/local/data/foundry
      - FOUNDRY_ENDPOINT=http://foundry:30000
      - BACKUP_S3_BUCKET=backups
      - BACKUP_S3_ENDPOINT=http://minio:9000/
      - DISCORD_SECRET=${DISCORD_BOT_SECRET}
      - KANKA_TOKEN=${KANKA_TOKEN}
      - KANKA_CAMPAIGN=${KANKA_CAMPAIGN}
      - DATABASE_ENDPOINT=lightning:///opt/project/wm-infra/deploy/local/data/api/westmarches.db
      - INTENT_MODEL_DIR=/opt/project/wm-infra/deploy/local/data/api/intents
      - LOGGING_CONFIG=/opt/project/wm-infra/deploy/local/api-logging.yml
      - AWS_ACCESS_KEY_ID=BUH8JVS2CJYK8HH22UI6-XIP
      - AWS_SECRET_ACCESS_KEY=tchtIVtvwW2EICkqzD4wh_KzdRcxVrJ9VmzB8NizmDTKH1Ra
    links:
      - minio
      - foundry
  api:
    build:
      context: ./
      dockerfile: wm-api/dev.Dockerfile
    volumes:
      - ./:/opt/project
      - ./wm-infra/deploy/local/hexMap-config.mjs:/opt/hexmap/hexMap-config.mjs
      - ./wm-website/public/wm-scripts/hexmap.mjs:/opt/hexmap/hexmap.mjs
    command: ["/usr/local/bin/pm2-runtime", "/opt/project/wm-api/pm2.config.js"]
    ports:
      - "3000:3000"
      - "9228:9228"
    environment:
      - CONFIG_PATH=/opt/project/wm-infra/deploy/local/api-config.json
      - DISCORD_BOT_SECRET=${DISCORD_BOT_SECRET}
      - DISCORD_BOT_PUBLIC_KEY=${DISCORD_BOT_PUBLIC_KEY}
  discordbot:
    build:
      context: wm-discord-bot/
      dockerfile: dev.Dockerfile
    links:
      - management_api
      - api
    volumes:
      - ./:/opt/project
      - ./wm-infra/deploy/local/data/discord:/opt/redbot/data
      - ./wm-infra/deploy/local/redbot-config.json:/root/.config/Red-DiscordBot/config.json
      - ./wm-infra/deploy/local/discordbot-logging.yml:/opt/discordbot-logging.yml
      - ./wm-infra/modules/main/ansible/roles/discordbot/files/default-intents.json:/opt/default-intents.json
    environment:
      - WM_API_SECRET=changeme
      - WM_API_ENDPOINT=http://management_api:5000
      - LOGGING_CONFIG=/opt/discordbot-logging.yml
      - DEFAULT_INTENTS_PATH=/opt/default-intents.json
      - AWS_ACCESS_KEY_ID=${DISCORD_AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${DISCORD_AWS_SECRET_KEY}
      - AWS_DEFAULT_REGION=${DISCORD_AWS_REGION}
      - DISCORD_BOT_SECRET=${DISCORD_BOT_SECRET}
      - DISCORD_OWNER_ID=${DISCORD_OWNER_ID}
      - KANKA_TOKEN=${KANKA_TOKEN}
    command: ["/usr/local/bin/pm2-runtime", "/opt/project/wm-discord-bot/pm2.config.js"]
#    ports:
#      - "5679:5679" # VScode
  worker:
    build:
      context: wm-worker
      dockerfile: dev.Dockerfile
    volumes:
      - ./:/opt/project
      - ./wm-infra/deploy/local/data/cache:/var/cache/westmarches
    environment:
      - CONFIG_PATH=/opt/project/wm-infra/deploy/local/worker-config.json
      - KANKA_TOKEN=${KANKA_TOKEN}
      - DISCORD_BOT_SECRET=${DISCORD_BOT_SECRET}
      - PYTHONUNBUFFERED=1
    command: ["/usr/local/bin/pm2-runtime", "/opt/project/wm-worker/pm2.config.js"]
  discordbot_workaround:
    build:
      context: ./
      dockerfile: wm-discord-workaround/dev.Dockerfile
    links:
      - management_api
    volumes:
      - ./:/opt/project
#      - ./wm-management-api-client:/opt/wm-management-api-client
    environment:
      - CONFIG_PATH=/opt/project/wm-infra/deploy/local/workaround-config.json
      - DISCORD_BOT_SECRET=${DISCORD_BOT_SECRET}
      - WM_API_SECRET=changeme
      - WM_API_ENDPOINT=http://management_api:5000
      - PYTHONUNBUFFERED=1
    command: ["/usr/local/bin/pm2-runtime", "/opt/project/wm-discord-workaround/pm2.config.js"]
  foundry_debugger:
    image: alpine/socat
    links:
      - foundry
    ports:
      - "9229:9229"
    command: tcp-listen:9229,fork,reuseaddr tcp-connect:foundry:9229
    profiles:
      - debug
volumes:
  foundry-logs:
  twig-cache: