<section id="setup" class="join dark flexrow" style="height: 100%; width: 100%; position: unset;">
    <header id="world-title" class="join-header app" style="flex: 0 0 auto">
        <h1>Signing in, please wait...</h1>
    </header>
</section>

<script type="text/javascript">
    (function() {
        opener.Hooks.call('auth-jwt', window);
    })();
</script>