<template id="notifications"></template>

<section id="setup" class="join dark flexrow" style="height: 100%; width: 100%; position: unset;">
    <header id="world-title" class="join-header app" style="flex: 0 0 auto">
        <h1>Loading, please wait...</h1>
    </header>
</section>

<script type="text/javascript">
    (async function () {
        const access_token = localStorage.getItem('oauth.discord.access_token');
        const refresh_token = localStorage.getItem('oauth.discord.refresh_token');

        if (access_token && refresh_token) {
            // TODO: verify token and refresh + redirect
            console.log('OAuth credentials detected');
            const discord = await fetch(getRoute('discord/validate'), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    access_token: access_token
                })
            });
            if (discord.ok) {
                console.debug('Valid credentials, joining game');
                return window.location.href = getRoute('game');
            }
        }

        console.debug('No valid credentials found, redirecting to login form');
        window.location.href = getRoute("join");
    })();
</script>
