Red-DiscordBot==3.5.5
logging-utilities==3.1.3
dateparser==1.1.8
validators==0.22.0
requests==2.31.0
boto3==1.28.49
python-socketio[asyncio_client]==5.7.1
elasticsearch[async]==8.7.0

wm-utils@git+https://github.com/ishtanzar/west-marches.git@releases/wm-utils/v0.0.1#subdirectory=wm-utils
#wm-utils@git+https://github.com/ishtanzar/west-marches.git@main#subdirectory=wm-utils
