
- name: Create data path
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  loop:
    - "{{ westmarches_data_path }}/api"
    - "{{ westmarches_data_path }}/influxdb"
    - "{{ westmarches_data_path }}/workaround"
    - "{{ westmarches_data_path }}/worker"
    - "{{ westmarches_data_path }}/worker/cache"
    - "{{ foundry_data_path }}/Config"

- name: Template config files
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  loop:
    - { src: docker-compose.tpl.yml, dest: "{{ westmarches_data_path }}/docker-compose.yml" }
    - { src: telegraf.tpl.toml, dest: "/etc/telegraf/telegraf.d/custom.conf" }
    - { src: grafana-datasources.tpl.yml, dest: "{{ westmarches_data_path }}/grafana/datasources.yml" }
    - { src: grafana-dashboards.tpl.yml, dest: "{{ westmarches_data_path }}/grafana/dashboards.yml" }

- name: Copy config files
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  loop:
    - { src: hexMap-config.mjs, dest: "{{ westmarches_data_path }}/hexMap-config.mjs" }
    - { src: api-config.json, dest: "{{ westmarches_data_path }}/api/config.json" }
    - { src: worker-config.json, dest: "{{ westmarches_data_path }}/worker/config.json" }
    - { src: workaround-config.json, dest: "{{ westmarches_data_path }}/workaround/config.json" }

- ansible.builtin.file:
    path: "{{ westmarches_data_path }}/worker/cache/donations.cache.json"
    mode: '0755'
    state: touch

- name: Upload compose env file
  ansible.builtin.copy:
    dest: "{{ westmarches_data_path }}/.env"
    content: "COMPOSE_PROJECT_NAME=west-marches"

- name: Upload S3 config
  ansible.builtin.copy:
    dest: "{{ foundry_data_path }}/Config/s3config.json"
    content: "{{ foundry_s3_config | to_nice_json }}"

- include_tasks: extensible-plugin.yml

- include_tasks: playtest-facts.yml

- include_tasks: ingress.yml
  vars:
    playtest_ip: "{{ playtest_container_facts | json_query('values(container.NetworkSettings.Networks)[0].IPAddress') | default('127.0.0.1') }}"

- name: Create grafana data paths
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: 472
    mode: '0644'
  loop:
    - "{{ westmarches_data_path }}/grafana"
    - "{{ westmarches_data_path }}/grafana/plugins"
    - "{{ westmarches_data_path }}/grafana/dashboards"
    - "{{ westmarches_data_path }}/grafana/csv"

- name: Upload grafana dashboards
  ansible.builtin.copy:
    src: grafana-dashboards
    dest: "{{ westmarches_data_path }}/grafana/storage/dashboards"

- name: Template unit file
  ansible.builtin.template:
    src: westmarches.service
    dest: "/etc/systemd/system/westmarches.service"
    owner: root
    group: root
    mode: '0644'
  register: unit_file_status

- name: Reload Systemd
  ansible.builtin.systemd:
    name: westmarches.service
    enabled: true
    daemon_reload: true
  when: unit_file_status.changed

- name: Start unit
  ansible.builtin.systemd:
    name: westmarches.service
    state: started

- include_tasks: certbot.yml

- name: Restart units
  ansible.builtin.systemd:
    name: "{{item}}"
    state: restarted
  loop:
    - westmarches.service
    - telegraf.service
