
- name: Create data path
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  loop:
    - "{{ westmarches_data_path }}/grafana"
    - "{{ westmarches_data_path }}/influxdb"
    - /opt/data/www/.well-known

- name: Template config files
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  loop:
    - { src: custom.tpl.nginx, dest: "{{ westmarches_data_path }}/nginx-custom.conf" }
    - { src: custom-ssl.tpl.nginx, dest: "{{ westmarches_data_path }}/nginx-ssl.conf" }
    - { src: nginx-entrypoint.sh, dest: "{{ westmarches_data_path }}/nginx-entrypoint.sh" }
    - { src: docker-compose.tpl.yml, dest: "{{ westmarches_data_path }}/docker-compose.yml" }
    - { src: telegraf.tpl.toml, dest: "/etc/telegraf/telegraf.d/custom.conf" }
    - { src: grafana-datasources.tpl.yml, dest: "{{ westmarches_data_path }}/grafana/datasources.yml" }
    - { src: grafana-dashboards.tpl.yml, dest: "{{ westmarches_data_path }}/grafana/dashboards.yml" }

- name: Upload compose env file
  ansible.builtin.copy:
    dest: "{{ westmarches_data_path }}/.env"
    content: "COMPOSE_PROJECT_NAME=west-marches"

- name: Upload backend-plugin
  ansible.posix.synchronize:
    src: "{{ playbook_dir }}/../../../../foundry-extensible-plugin/"
    dest: "{{ westmarches_data_path }}/foundry-extensible-plugin"
    rsync_opts:
      - "--exclude=foundry-extensible-plugin/node_modules/* --exclude=foundry-extensible-plugin/package-lock.json"

- name: Upload grafana dashboards
  ansible.builtin.copy:
    src: grafana-dashboards
    dest: "{{ westmarches_data_path }}/grafana/storage/dashboards"

- name: Template unit file
  ansible.builtin.template:
    src: westmarches.service
    dest: "/etc/systemd/system/westmarches.service"
    owner: root
    group: root
    mode: '0644'
  vars:
    compose_files:
      - "{{ foundry_data_path }}-compose.yml"
      - "{{ discordbot_data_path }}-compose.yml"
      - "{{ westmarches_data_path }}/docker-compose.yml"
  register: unit_file_status

- name: Reload Systemd
  ansible.builtin.systemd:
    name: westmarches.service
    enabled: true
    daemon_reload: true
  when: unit_file_status.changed

- name: Start unit
  ansible.builtin.systemd:
    name: westmarches.service
    state: started
    
- name: Install certbot snap
  community.general.snap:
    name: certbot
    classic: yes
    
- name: Wait for port 80 to become open on the host
  ansible.builtin.wait_for:
    port: 80
    delay: 10
    
- name: SSL certificate
  ansible.builtin.shell: "certbot certonly -n --agree-tos --email webmaster@ishtanzar.net --keep --webroot -w /opt/data/www/ -d {{ foundry_fqdn }}"

- name: Restart units
  ansible.builtin.systemd:
    name: "{{item}}"
    state: restarted
  loop:
    - westmarches.service
    - telegraf.service
