# {{ ansible_managed }}
[Unit]
Description=FoundryVTT service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/local/bin/docker-compose -f {{ docker_compose.dest }} kill
ExecStartPre=-/usr/local/bin/docker-compose -f {{ docker_compose.dest }} rm
ExecStart=/usr/local/bin/docker-compose -f {{ docker_compose.dest }} up
ExecStop=/usr/local/bin/docker-compose -f {{ docker_compose.dest }} down
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
