{% extends "base.html" %}

{% block content %}
<h1>Mon compte</h1>
<h2>Connexion Kanka</h2>
{% if user.oauth.kanka.access_token is defined %}
<p>Connecté en tant que {{ user.kanka.name }}</p>
{% else %}
<p>Pour utiliser toutes les fonctionnalités de ce site, vous devez être authentifié sur Kanka; suivez le
    <a href="https://discord.com/channels/845325199322775572/1035463005967765535">Guide d'utilisation de Kanka</a>
    pour rejoindre la campagne, puis <a href="{{ config.api_endpoint }}/oauth/kanka?redirect_uri={{ get_uri() }}">cliquez ici</a> pour vous authentifier.
</p>
{% endif %}
{% endblock %}