<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {% endblock %}
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Le West Marches du Cairne</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
<!--                    <a class="nav-link" href="/map">Carte</a>-->
                    <a class="nav-link" href="https://play.westmarches.localhost.lan:8443">Jouer</a>
                </div>
                <div class="navbar-nav ms-auto">
                    {% if user.authenticated %}
                    <a href="/me" class="nav-link">Mon compte</a>
                    {% else %}
                    <a href="#" class="nav-link">Rejoindre</a>
                    <a href="https://api.westmarches.localhost.lan:8443/oauth/discord?redirect_uri=https://westmarches.localhost.lan:8443/" class="nav-link">Se connecter</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid">
    {% block content %}{% endblock %}

    {% block footer %}
    {% if not (user.oauth.kanka.access_token is defined) %}
    <div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Connexion Kanka</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Pour utiliser toutes les fonctionnalités de ce site, vous devez être authentifié sur Kanka; suivez le
                <a href="https://discord.com/channels/845325199322775572/1035463005967765535">Guide d'utilisation de Kanka</a>
                pour rejoindre la campagne, puis <a href="/oauth/kanka?redirect_uri={{ get_uri() }}">cliquez ici</a> pour vous authentifier.
            </div>
        </div>
    </div>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    {% endblock %}
</div>
</body>
</html>