<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          integrity="sha256-2TnSHycBDAm2wpZmgdi0z81kykGPJAkiUY+Wf97RbvY=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css"
          integrity="sha256-BicZsQAhkGHIoR//IB2amPN5SrRb3fHB8tFsnqRAwnk=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.1/dist/bootstrap-table.min.css"
          integrity="sha256-7Oajx7nIkYTg7DngGkbQPeZYOGF2y0Q3R24+vhzH/2M=" crossorigin="anonymous">
    {% endblock %}
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Le West Marches du Cairne</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
<!--                    <a class="nav-link" href="/map">Carte</a>-->
                    <a class="nav-link" href="{{ config.play_endpoint }}">Jouer</a>
                </div>
                <div class="navbar-nav ms-auto">
                    {% if user.isGM() %}
                    <form class="d-flex" role="search" action="/search" method="get">
                        <input class="form-control me-2" type="search" name="q" value="{{ q }}" placeholder="Rechercher" aria-label="Rechercher">
                    </form>
                    {% endif %}
                    {% if user.authenticated %}
                    <a href="/me" class="nav-link">Mon compte</a>
                    {% else %}
                    <a href="#" class="nav-link">Rejoindre</a>
                    <a href="{{ config.api_endpoint }}/oauth/discord?redirect_uri={{ get_uri() }}" class="nav-link">Se connecter</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid">
    {% block content %}{% endblock %}

    {% block footer %}
    {% if not (user.oauth.kanka.access_token is defined) %}
    <div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Connexion Kanka</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Pour utiliser toutes les fonctionnalités de ce site, vous devez être authentifié sur Kanka; suivez le
                <a href="https://discord.com/channels/845325199322775572/1035463005967765535">Guide d'utilisation de Kanka</a>
                pour rejoindre la campagne, puis <a href="{{ config.api_endpoint }}/oauth/kanka?redirect_uri={{ get_uri() }}">cliquez ici</a> pour vous authentifier.
            </div>
        </div>
    </div>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.9/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.9/locale/fr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.9/plugin/customParseFormat.js"></script>
    <script type="text/javascript">
        dayjs.locale('fr');
        dayjs.extend(window.dayjs_plugin_customParseFormat);

        function harptosSorter(a, b) {
            let [a_day,a_month,a_year] = a.split('/');
            let [b_day,b_month,b_year] = b.split('/');

            if(a_year === b_year) {
                if(a_month === b_month) {
                    if(a_day === b_day) {
                        return 0;
                    } else {
                        return a_day - b_day;
                    }
                } else {
                    return a_month - b_month;
                }
            } else {
                return a_year - b_year;
            }
        }

        function dateSorter(a, b) {
            let format = 'YYYY-MM-DD'
            return dayjs(a, format) - dayjs(b, format);
        }
    </script>
    {% endblock %}
</div>
</body>
</html>