{% extends "base.html" %}

{% block content %}
<h1>Le West Marches du Cairne</h1>
<p>
    Dans la triste vallée du Cairne, ensevelie par les lourdes neiges hivernales, erre le monstrueux géant infernal
    Obosh l’Eventré qui sème la terreur dans les contrées sauvages au-delà des forêts d’hêtres et de chênes,
    loin des plaines enneigées et des fleuves saisonniers. Connu par les hommes et monstres de la vallée,
    le géant solitaire déambule, avec une grande gueule pleines de dents de scie protrudant de son ventre qui attire
    et effraie les esprits curieux et craintifs. Certains pensent qu’il dévore ses proies avec cette gueule ventrale,
    d’autres parient qu’un démon d’outre-terre lui chuchote de terribles plans destructeurs… Nul ne sait,
    aucun ne survit après sa rencontre.
</p>
<p>
    Les aborigènes monstrueux de Cairne se cachent dans les recoins de la toundra : les frères triplets gobelins
    des neiges du clan Zugspike règnent et complotent dans les marécages givrés du Souffle-ombre. Les orques sauvages
    et nomades voyagent près du glacier ardent des Cendres Dorées, à la recherche d’un tombeau ancestral disparu.
    Près des forêts noires des Bois des Lambeaux, les ruines d’une ancienne forteresse de géants sont à la merci
    des voyageurs et des aventuriers, mais nul ne revient sans y perdre sa voix, ou sa tête...
</p>
<p>
    Quelque part dans la vallée, entouré de pins et de terres arides, les êtres civilisés s’isolent au village
    d’Aberdeen, seul rempart d’espoir et d’humanité.
</p>
<p>
    Participez à cette campagne de Donjons et Dragons 5 de style West Marches en rejoignant notre serveur discord :
    <a href="https://discord.gg/eY9vfPjV2Z">https://discord.gg/eY9vfPjV2Z</a>
</p>
{% endblock %}